.App {
  text-align: center;
  min-height: 100vh;
}

.left-align{
  text-align: left;
}

.page {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.PDF-page{
  width: auto;
  align-content: center;
  border-style: solid;
  position: absolute !important;
}